.View {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    .Content {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}
